:root {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.textauthorization {
  font-size: 30px;
  padding-top: -90px;
  color: #fff;
  text-shadow: 0 0 15px rgba(255, 255, 255, 1);;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 300px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px rgba(255, 255, 255, 1);
  border-radius: 4px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  box-shadow: 0 0 15px #4CAF50;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
  box-shadow: 0 0 15px #45a049;
}


.logo {
  width: 50%;
  margin: 0 auto;
}

.container {
  width: 400px;
  margin: 150px auto 0;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  background-color: rgba(217, 217, 217, 0);
  box-shadow: 0 0 15px rgba(255, 255, 255, 1);
  border: 2px solid #fff;
  border-radius: 15px;
  backdrop-filter: blur(15px);
}